body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagen/img.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Ajusta la altura de acuerdo a tus necesidades */
    overflow: auto; /* Para permitir desplazamiento vertical si es necesario */
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejor legibilidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    color: #ff4500; /* Color fuego */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: center;
    border: 2px solid #ff4500; /* Contorno color fuego */
    padding: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejor legibilidad */
}

a {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    background-color: #ff4500; /* Color fuego */
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #e64200; /* Color fuego más oscuro */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    display: block;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejor legibilidad */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}
